<footer>
    <div class="footer-info">
        <p class="footer-title">Sobre mí</p>
        <ul class="about-list">
            <li>Ing. en Desarrollo de Software</li>
            <li>Universidad politecnica de chiapas</li>
            <li>25 de septiembre 2024</li>
            <li>Programacion</li>
        </ul>
    </div>
    <div class="footer-credits">
        <span class="text">Hecho por Christopher Osunal</span>
        <div class="social-icons">
            <a href="https://www.instagram.com" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>
